/** general **/
body {
  background-color: white;
  color: #1f1605; /* drk_brwn */
  font-size: 62.8%;
  line-height: 1em;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
h2 {
  font-size: 1.3em;
  margin: 0.5em 0 0;
  padding: 0 0 0.2em;
}
input[type='text'] {
  border: 1px dotted #aaa;
  background-color: white;
  color: black;
  font-size: 1.0em;
  line-height: 1.5em;
}
input.currency {
  width: 6em;
}
select {
  font-size: 1.0em;
  line-height: 1.2em;
}
input[type='button'],
button {
  font-size: 1.0em;
  line-height: 1.2em;
}
/** common **/
div.label_value {
  margin-top: 5px;
  overflow: hidden;
}
div.label_value label {
  float: left;
  width: 5em;
  text-align: right;
  line-height: 1.5em;
}
div.label_value div.value {
  margin: 0 0.5em 0 5.5em;
}
div.label_value div.info {
  margin-left: 6em;
  color: #777;
}
/** layout **/
div#page {
  margin: 8px 2%;
}

/** transactions **/
div#accounts-block {
  margin: 1.5em 0;
}
  div#account_listing {
  }
    div.account-block {
      width: 20em;
      float: left;
      border: 1px solid #5d4322;
      margin: 1.0em;
      padding: 4px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
      div.account-block input[name='update'] {
        font-size: 1.0em;
      }
  div#new_account-button-block {
    clear: both;
  }
  div#new_account-form {
    display: none;
    border: 1px solid #5d4322;
    margin: 1.0em;
    padding: 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    width: 20em;
  }

div#new_transaction {
  width: 40em;
  float: left;
  border: 1px solid #5d4322;
  padding: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
  h2#new_transaction-header {
    float: left;
  }
  div#transaction_date-block {
    float: right;
    width: 20em;
  }
  div#financial_transaction-block {
    float: left;
    width: 20em;
  }
    div#account-block {
    }
    div#name-block input {
      width: 100%;
    }
    div#status-block {
    }
    div#amount-block input {
      width: 6em;
    }
    div#action-buttons {
    }
  div#transaction_items-block {
    clear: both;
  }
    div.transaction_item {
      padding: 0.4em 0.6em;
      border-bottom: 1px solid #eee;
      white-space: nowrap;
    }
    div.transaction_item:nth-child(2n+2) {
      background-color: #ddd;
    }
      button.remove_item {
      }
      input.transaction_item_name {
        width: 13em;
      }
      input.item_amount {
        width: 6em;
      }


div#item_list-box {
  float: right;
  background-color: #eee;
}

div#transaction_list-block {
  clear: both;
}

div.transaction_list {
  overflow: hidden;
  padding-bottom: 10px;
}
  div.transaction_list div.column {
    width: 200px;
    float: left;
    border: 1px solid #aaa;
    padding: 0 5px;
  }
  div.transaction {
    overflow: hidden;
    position: relative;
    margin: 0 -5px;
    padding: 0.4em 0.6em;
    border-bottom: 1px solid #eee;
  }
  div.transaction:nth-child(2n+2) {
    background-color: #ddd;
  }
    span.transaction-total {
      float: right;
      width: 6em;
      padding: 0 0.2em;
      text-align: right;
      display: block;
    }
    span.transaction-name {
      display: block;
      font-size: 1.1em;
      margin-right: 9em;
    }

    div.transaction_status {
      clear: right;
      float: right;
      overflow: hidden;
      width: 7.4em;
      height: 1.5em;
    }
    div.transaction_status a {
      outline: none;
      display: block;
      width: 1em;
      height: 1em;
      margin: 1px;
      line-height: 1em;
      font-size: 1.0em;
      text-decoration: none;
      color: transparent;
      float: left;
      padding: 1px;
    }
    div.transaction:hover div.transaction_status a {
      color: #000;
    }
    div.transaction_status a.active {
      color: #000;
      background-color: #fff;
      border: 1px solid #000;
      -moz-border-radius: 1em;
      -webkit-border-radius: 1em;
      border-radius: 1em;
    }
    span.transaction-date {
      padding: 0 0.9em;
    }
    span.transaction-edit {
      position: absolute;
      left: 50%;
      bottom: 0;
      display: block;
      width: 2.3em;
      margin-left: -1.15em;
      text-align: center;
      height: 1.2em;
      line-height: 1.0em;
      border: 1px solid transparent;
      color: transparent;
      cursor: pointer;
    }
    div.transaction:hover span.transaction-edit {
      border: 1px solid black;
      background-color: white;
      color: black;
    }


div#transaction_items_list-block {
  overflow: hidden;
  border: 1px solid #5d4322;
  padding: 4px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
  div#buttons-block {
    float: left;
    width: 18em;
    margin: 0 0 0 2em;
  }
  div#period_start-block,
  div#period_end-block {
    float: left;
    width: 20em;
  }
  button#period-button {
    margin: 2em 0 0;
  }

  div#item_group_list {
    padding: 5px 0;
    clear: both;
  }
    div#item_group_list div.column {
      width: 130px;
      float: left;
      padding: 0 5px;
    }
      div.item_group {
        border: 1px solid #aaa;
        margin: 6px 0 0;
        padding: 4px;
      }
      div.item_group h3 {
        font-size: 1.1em;
        margin: 0 0 0.2em;
        padding: 0;
      }
        div.item-box {
          margin: 0 -4px;
          padding: 0.3em 0.2em;
          border-bottom: 1px solid #eee;
        }
        div.item-box:nth-child(2n+2) {
          background-color: #ddd;
        }
          span.item_amount {
            float: right;
            display: block;
            white-space: nowrap;
            width: 4em;
            padding-left: 0.2em;
            text-align: right;
          }
          span.item_name {
          }


/** categories **/
span.repeat_date-example {
  cursor: pointer;
  text-decoration: underline;
  font-size: 1.1em;
  color: green;
}
div#categories {
  overflow: hidden;
}
  div#expense_saving_allotment {
    width: 72%;
    margin: 10px 0px;
  }
  div.category_type {
    width: 33.33%;
    float: left;
  }
  div#expense { width: 43%; }
  div#bill { width: 28%; }
  div#saving { width: 29%; }
  div.category_type div.form {
    margin: 5px;
  }
    

    div.category_type div.form {
      display: none;
      border: 1px solid #5d4322;
      padding: 4px;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
      div.category_type div.form div.label_value {
        padding-bottom: 4px;
        border-bottom: 1px solid #999;
      }
        input.allotment {
          width: 6em;
        }
    button.toggle_add_form {
      float: right;
      margin: 0 2em 0 0;
    }
    div.category_list {
      clear: both;
      margin: 5px 4em;
      padding-top: 2.0em;
    }
      div.edit-form {
        margin: 0 0 2.0em;
      }
        div.edit-form div.label_value {
        }
        span.edit-button {
          padding: 0px;
          display: block;
          font-size: 0.8em;
          border: 1px solid black;
          background-color: white;
          color: black;
          cursor: pointer;
          width: 2.3em;
          text-align: center;
          height: 1.2em;
          line-height: 1.0em;
        }

      /** *expense **/
      /** *bill **/
      /** *saving **/
    div.inactive_category_list {
    }


/** expense **/
div.expense_category {
  padding-bottom: 5px;
  position: relative;
  border-bottom: 1px solid #ccc;
}
div.expense_category:nth-child(2n+2) {
}
div.expense_category h2 {
  margin: 0.5em 0 2.0em;
  padding: 0;
  text-indent: -2.0em;
  font-size: 1.2em;
  font-weight: normal;
}
  div.minimum_graph {
    z-index: 1;
    font-size: 0.7em;
    line-height: 1.0em;
    background-color: black;
    color: white;
    text-align: right;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }
  div.minimum_graph span.minimum {
    padding: 0 0.5em;
    background-color: black;
    color: white;
  }
  div.minimum_graph.below {
    background-color: red;
  }
  div.balance-slider span.maximum {
    position: absolute;
    right: 1.0em;
    font-size: 0.7em;
    line-height: 1.0em;
    top:0;
    display: block;
    height: 1.0em;
  }
  div.available_graph {
    z-index: 1;
    background-color: rgba(0, 205, 0, 0.5);
    position: absolute;
    top: 0;
    bottom: 0;
  }
  span.slider-balance-value {
    position: absolute;
    top: -1.4em;
    font-size: 0.9em;
    line-height: 1.0em;
    left: 0;
    z-index: 3;
  }
  div.expense_category span.edit-button {
    position: absolute;
    bottom: 3.5em;
    right: 1em;
  }

/** bill **/
div#bill_category_list {
  margin: 5px 1em 5px 3em;
}
div.bill_category {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #999;
}
  div.bill_category h2 {
    font-size: 1.2em;
    font-weight: normal;
    position: relative;
    text-indent: -1em;
    margin: 0 0 0.3em;
    padding: 0 7.5em 0 0;
  }
  div.bill_category h2 span.amount_info {
    position: absolute;
    right: 0;
    top: 0;
    display: block;
    text-align: right;
    width: 7.0em;
  }
  div.bill_category h2 span.amount_info {
    font-size: 0.8em;
  }
  div.due-block {
    text-align: center;
    width: 15em;
    float: right;
  }
    div.bill_category span.due {
      font-weight: bold;
    }
  div.repeat_due_date-block {
    clear: both;
  }
  div.bill_category span.edit-button {
    position: absolute;
    right: 5px;
    bottom: 3px;
  }

/** saving **/
div#saving_category_list {
  padding-bottom: 2.0em;
}
  div.saving_category {
    position: relative;
  }
    div.saving_category h2 {
      margin: 1.8em 0 1.0em;
    }
    div.bar {
      height: 1em;
      background-color: white;
      border: 1px solid black;
      position: relative;
    }
      div.bar span.bar_value {
        position: absolute;
        top: 0;
        bottom: 0;
        display: block;
      }
        span.bar_value span {
          padding: 0 0.5em;
          font-size: 0.8em;
        }
      div.bar span.balance {
        left: 0;
      width: 45%;
        text-align: right;
        background-color: black;
        color: white;
      }
      div.bar span.balance span {
        position: absolute;
        top: -1.5em;
        left: -5px;
        display: block;
        text-align: right;
        width: 100%;
        padding: 0 4px 1.5em 0;
        border-right: 1px solid black;
        background-color: transparent;
        color: black;
      }
      div.bar span.maximum {
        left: 0;
        right: 0;
        color: black;
        text-align: right;
      }
      div.bar span.allotment_amount {
      left: 30%;
      width: 15%;
        background-color: gray;
        color: white;
      }
      div.bar span.allotment_amount span {
        position: absolute;
        display: block;
        left: -6.5em;
        width: 6em;
        padding: 0;
        text-align: right;
        color: gray;
      }
      div.bar span.minimum {
      left: 65%;
        border-right: 1px solid black;
        background-color: white;
        width: 2px;
      }
      div.bar span.minimum span {
        position: absolute;
        top: -1.5em;
        margin-left: 2px;
        border-left: 1px solid black;
        padding-bottom: 0.5em;
      }


      div.bar span.allotment_date {
        position: absolute;
      left: 65%;
        width: 6em;
        margin-left: -3em;
        bottom: -1.5em;
        text-align: right;
      }
  div.saving_category div.edit-form {
    padding-top: 1.0em;
  }
  div.saving_category span.edit-button {
    position: absolute;
    right: -3.0em;
    bottom: 0;
  }

