body {
  background-color: white;
  color: #1f1605; /* drk_brwn */
  font-size: 62.8%;
  line-height: 1em;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
div#page {
}

input[type='text'] {
  border: 1px dotted #aaa;
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
}
div.transaction_list {
  overflow: hidden;
}
  div.transaction_list div.column {
    width: 200px;
    float: left;
    border: 1px solid black;
    padding: 5px;
  }

div#item_group_list {
}
  div#item_group_list div.column {
    width: 200px;
    float: left;
    border: 1px solid black;
    padding: 5px;
  }

div.minimum_graph {
  z-index: 1;
  background-color: black;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
}
div.minimum_graph.below {
  background-color: red;
}
div.available_graph {
  z-index: 1;
  background-color: rgba(0, 205, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
}
span.slider-balance-value {
  position: absolute;
  top: -1em;
  left: 0;
  z-index: 3;
}
